/* 
1. Position property.
2. Box model property.
3. Text property.
4. Visuals properties.
5. Miscellaneous property. 
*/
/* === Global === */
:root{
    --shadowText: 
        1px 0 #000, -1px 0 #000, 0 1px #000, 0px -1px #000, 
        1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
*{
    font-family: 'Roboto', sans-serif;
}
body{
    box-sizing: border-box;
    min-height: 100vh;
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet, red) rgba(0, 0, 0, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
h1{
    margin-top: 0;
    padding-top: 1rem;
    color: #fff;
}
h1, form{
    text-align: center;
}

/* Utilities */
.container{
    width: 90%;
    margin: 0 auto;
}

/* BEM */
.main{
    margin-bottom: 4rem;
}
.exit{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 1rem 1rem 6rem 1rem;
    border: 2px solid #000;

    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: var(--shadowText);
    color: #fff;
    background-color: #fff;
}
.exit p{
    margin: 0;
}
.flex__section{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.colorSaved{
    min-width: 6rem;
    border: 2px solid #000;
    padding: 1rem;
    text-shadow: var(--shadowText);
    text-align: center;
    color: #fff;
    background-color: coral;
}